{% extends 'base.html.twig' %}

{% block title %}Section
{% endblock %}

{% block body %}
	<section class="ftco-section bg-light" id="skills-section">
		<div class="container">
			<h1>Section</h1>

			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ section.id }}</td>
					</tr>
					<tr>
						<th>Titre</th>
						<td>{{ section.titre }}</td>
					</tr>
					<tr>
						<th>SousTitre</th>
						<td>{{ section.sousTitre }}</td>
					</tr>
				</tbody>
			</table>
			<h1>
				Blocks
			</h1>
			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						{% for block in blocks %}
							<td>{{ block.id }}</td>
						{% endfor %}
					</tr>
					<tr>
						<th>Titre</th>
						{% for block in blocks %}
							<td>{{ block.titre }}</td>
						{% endfor %}
					</tr>
					<tr>
						<th>Description</th>
						{% for block in blocks %}
							<td>{{ block.description }}</td>
						{% endfor %}
					</tr>
					<tr>
						<th>Button</th>
						{% for block in blocks %}
							<td>{{ block.button }}</td>
						{% endfor %}
					</tr>
				</tbody>
			</table>

			<a href="{{ path('section_index') }}">back to list</a>

			<a href="{{ path('section_edit', {'id': section.id}) }}">edit</a>

			{{ include('section/_delete_form.html.twig') }}
		</div>
	</section>
{% endblock %}
